<div class="jumbotron">
  <h1 class="display-3">NATIVE</h1>
  <p class="lead">Indigecomms is a Female Native-owned strategic<br/>communications &amp; PR company.</p>
</div>

<div class="display-4 text-center">
  We make sure Indian Country has its own voice.
</div>

<div class="row marketing">
  <div class="col-lg-4">
    <p>We make sure the messsage speaks to and resonates with the target audience.</p>
  </div>
  <div class="col-lg-4">
    <p>We assist in helping you tell your own story to ensure accurate information no matter the situation, project or goal.</p>
  </div>
  <div class="col-lg-4">
    <p>We provide a new set of eyes and a fresh prospective that will improve your communication efforts.
  </div>
</div>

