<div class="jumbotron">
  <h1 class="display-3">NATIVE</h1>
  <p class="lead">Indigecomms is a Female Native-owned strategic<br/>communications &amp; PR company.</p>
</div>

<div class="display-4 text-center">
  We make sure Indian Country has its own voice.
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Education</h4>
    <p>Educating the media on how to report on tribal stories, issues and events.</p>

    <h4>Communications</h4>
    <p>Professional public relations and communications in Indian country.</p>
</div>

<div class="col-lg-6">
  <h4>Relationships</h4>
  <p>Improving internal tribal public relations and establishing relationships with media and reporters.</p>

  <h4>Information</h4>
  <p>With a lack of Native information in mainstream media, Indigecomms brings voices together.</p>
</div>

<div class="display-4 text-center">
  Talk to us.
</div>