<div class="jumbotron">
  <h3 class="display-4">Indigecomms is a female Native-owned strategic<br/>communications &amp; public relations
    company.</h3>
</div>


<div class="jumbotron">
  <div class="row marketing">
    <div class="col-lg-4">
      <p style="text-align:center;">
        <%= octicon "comment-discussion", :height => 100, :"aria-label" => "We make sure the messsage speaks to and resonates with the target audience." %>
      </p>

      <p class="lead" style="text-align:left;">We make sure the messsage speaks to and resonates with the target
        audience.</p>
    </div>
    <div class="col-lg-4">
      <p style="text-align:center;">
        <%= octicon "megaphone", :height => 100, :"aria-label" => "We assist in helping you tell your own story to ensure accurate information no matter the situation, project or goal." %>
      </p>

      <p class="lead" style="text-align:left;">We assist in helping you tell your own story to ensure accurate
        information no matter the situation, project or goal.</p>
    </div>
    <div class="col-lg-4">
      <p style="text-align:center;">
        <%= octicon "globe", :height => 100, :"aria-label" => "We provide a new set of eyes and a fresh prospective that will improve your communication efforts." %>
      </p>

      <p class="lead" style="text-align:left;">We provide a new set of eyes and a fresh perspective that will improve
        your communication efforts.
    </div>
  </div>
</div>
